#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
*.css linguist-detectable=false
*.py linguist-detectable=false
*.js linguist-detectable=false
*.java linguist-detectable=true
*.java linguist-language=Java

